@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}



.attribution { font-size: 11px; text-align: center; 
    font-size: 0.1rem;    
    margin-top: 3rem;
}
.attribution a { color: hsl(228, 45%, 44%); }
  
body{
    background-color: hsl(228, 33%, 97%);
    color:hsl(211, 10%, 45%);
    padding: 3em 0 0 0;
}

main{
    padding: 0 1em; 
}
.comments{
    width: 100%;
    max-width: 750px;
    margin: auto;
    
}
.comment-card{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
.comment-card-header{
    display: flex;
    height: 2.5rem;
    align-items: center;
    margin-bottom: .4em;
}


.comment-card-header img,
.comment-username {
    margin-right: 1em;
}


.comment-card-header img {
    height: 85%;
}

.comment-username {
    font-weight: 700;
    color:  black
}


.comment-card-vote {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 0.8em;
    padding: 0.4em 0.6em;
    border-radius: 8px;
    background-color:  hsl(228, 33%, 97%);
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    cursor:pointer;
}


.comment-action {
    position: absolute;
    bottom: 1.1em;
    right: 1em;
}
.footer{
    margin-top: 1rem;
}

.plus-icon, .minus-icon{
    cursor: pointer;
}

.user-icon{
    background-color:hsl(238, 40%, 52%);
    color: #fff;
    text-align: center;
    padding: .1em .6em .2em .5em;
    font-size: small;
    border-radius: 2px;
}

.delete-btn, .edit-btn{
    display: inline;
    width: fit-content;
    border-style: none;
    margin-left: 1em;
    background-color: transparent;
    color: hsl(358, 79%, 66%);
    cursor: pointer;
    font-weight: 500;
}

.edit-btn{
color: hsl(238, 40%, 52%);
}


.delete-btn:hover, .edit-btn:hover,.reply-btn:hover{
    opacity: 0.5;
}

.reply-btn{
    cursor: pointer;
    font-weight: 500;
}



/* modal styling*/


.background-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
   
    
    
}




.modal-content {
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding: 1.5em;
    border-radius: .7em;
    background-color: #fff;
    
}

.modal-content h2 {
    font-size: 1.22em;
    margin-bottom: .65em;
    font-weight: 600;
    
}

.modal-content p {
    line-height: 1.4em;
}


.modal-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    margin-top: 1em;
}

.delete, .cancel{
    padding: .90em 0;
    color: #fff;
    font-weight: 500;
    border-radius: 7px;
    width: 100%;
    border-style: none;
}

.delete { background-color: hsl(358, 79%, 66%); 
}
.cancel  { background-color:  hsl(211, 10%, 45%); 
}

.remove, .show{
    display: none;
}

.replies-container{
    position: relative;
}

.replies-container{
    position: relative;
    margin-left: 1.2em;
}

.reply-user {
    color: var(--moderate-blue);
    font-weight: 700;
}

.replies-container::before{
    content: "";
    display: flex;
    position:absolute;
    left:-3vw;
    top: 0;
    bottom: 20px;
    border: 1px solid hsl(238, 40%, 52%);
    opacity: 0.3;
    border-width: 0 0 0 1px;
    z-index: -1;
}
/*Main form styling*/

.main-form , .reply-box{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 1em;
    color: var(--grayish-blue);
    margin: auto;
    
   
}

.main-form-text-area{
    width: 100%;
    resize: none;
    overflow: auto;
    min-height: fit-content;
    color: hsl(211, 10%, 45%);
    outline: none;
    line-height: 1.5em;
    padding: .2em 1.2em;
    border-radius: 7px;
    border: 1px solid hsl(223, 19%, 93%);
    cursor: pointer;
}

.main-form-text-area:hover{
    border: solid 1px hsl(238, 40%, 52%);
}

.reply-box-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.form-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 1rem;
}

.reply-box{
    margin-bottom: 0.4rem;
}

.reply-btn{
    border-style: none;
    background-color: transparent;
    color: hsl(238, 40%, 52%);
}

.form-img{
    width: 10vw;
    height: fit-content;
}

.form-btn{
    width: fit-content;
    padding: 0.85em 2.1rem;
    border-style: none;
    border-radius: 7px;
    background-color: hsl(238, 40%, 52%);
    color: #fff;
    font-size: 1rem;
}


.reply-box-footer-btn, .update-btn{
    cursor:pointer ;
    width: fit-content;
    padding: 0.9em 1.4rem;
    border-style: none;
    border-radius: 7px;
    background-color: hsl(238, 40%, 52%);
    color: #fff;
    font-size: 0.9rem;
}

.reply-box-footer-btn:hover, .form-btn:hover{
    background-color: hsl(239, 57%, 85%)
}

.update-btn {
    float: right;
    margin-top: .75em;
}

.reply-user{
    color: hsl(238, 40%, 52%);
    
    
}
svg{
    fill:#C5C6EF;
   margin-left: 0.2em;
}

svg:hover{
    fill: hsl(238, 40%, 52%);
}
@media (min-width: 640px) {
    .main-form{
        max-width: 750px;
    }

    .main-form-text-area{
        width: 80%;
    }
.reply-box {
   margin-bottom: 0.5rem;
    
}

.reply-box-footer-btn, .form-btn{
    position: absolute;
    top: 1.58rem;
    right: 3%;
    cursor: pointer;
    font-size: 0.9rem;
} 

.replies-container::before{
    left: -3vw;
    border-width: 0 0 0 2px;
    opacity: .1;
}


.form-img, .reply-box-footer>img{
    position: absolute;
    left: 3%;
    top: 15%;
   }

.form-img{
    width: 3vw;
    height: fit-content;
}

.form-area{
    width: 75%;
    margin-left: 4rem;
}

.comment-card-vote {
    height: fit-content;
    display: grid;
    position: absolute;
    justify-content: center;
    align-content:center ;
    gap: 6.5%;
    width:2.2rem;
    max-height: 5.1rem;
    left: 2%;
    padding: 1em;
    top: 0.1vw;
    border-radius: 8px;  
    text-align: center;
}

.comment-card-content{
    position: relative;
    left: 8%;
    width:90%;
}

.comment-card-header{
    position: relative;
    left: 8%;
}
.comment{
    display: block;
    width:fit-content;
    margin-left: 1%;
    
}

.comment-action{
    position: absolute;
    top: 1.58rem;
    right: 7%;
    cursor: pointer;
    font-size: 0.9rem;
} 

.form-btn{
    width: fit-content;
    padding: 1em 2em;
}

.user-icon{
    margin-left: 1em;
    border-radius: 2px;
    font-weight: 200;
}


.replies-container {
    margin-left: 5em;
}
}